{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> To do list</title>
    <link rel="stylesheet" href=" {% static '.\To do list.css' %} ">
</head>

<body>
    <header>
        <h1>To Do list</h1>
    </header>
    <div id="container">
        <div id="create">
            <h2>Create lists</h2>
            <form action="/" method="POST"> {% csrf_token %}
                <input type="text" placeholder="Title" id="title" name="task">
                <br>
                <textarea id="list_description" cols="30" rows="10" placeholder="Description" name="desc"></textarea>
                <br>
                <input type="date" id="task_date" name="date">
                <input type="submit" value="Create list" id="submit" class="btn">
            </form>
        </div>
        <div id="view">
            <h2>To Do</h2>
            <ul>
                {% for todo_item in todo_items %}
                <div type="text/javascript" onmouseover=fun()>
                <script type="text/javascript">
                    function fun(){
                        var desc = "{{todo_item.desc}}";
                        var date = "{{todo_item.date}}";
                    }
                 </script>
                <li><input type="checkbox" name="task state" class="task_state"><span>
                        {{todo_item.task}} ||
                        <script>desc </script>
                    </span>
                    <a href="/edit/{{todo_item.id}}/">
                        <button type="button" value="edit" class="edit-page">edit</button>
                    </a>
                    <a href="/delete/{{todo_item.id}}/">
                        <button type="button" value="edit" class="edit-page">finished</button>
                    </a>
                </li>
                {% endfor %}
            </div>
                
            </ul>
        </div>
    </div>
</body>

</html>